spring:
  application:
    name: inventoryx-service

  datasource:
    url: jdbc:postgresql://localhost:5432/stockmanagement
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: inventory

  flyway:
    enabled: true
    schemas: inventory
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8081
  servlet:
    context-path: /api/v1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.stockmanagement: DEBUG
    org.springframework.web: INFO
    org.hibernate: INFO
